@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}

.home {
  @apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
}

.home-content {
  @apply flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
}

.home-header {
  @apply flex flex-col justify-between gap-8;
}
.header-2 {
  @apply text-lg font-semibold text-gray-900;
}

.header-box {
  @apply flex flex-col gap-1;
}

.header-box-title {
  @apply font-semibold text-2xl lg:text-3xl text-gray-900;
}

.header-box-subtext {
  @apply font-normal text-sm lg:text-base text-gray-600;
}

.total-balance {
  @apply flex w-full items-center gap-4 rounded-xl border border-gray-200 p-4 sm:gap-6 sm:p-6;
}

.total-balance-chart {
  @apply flex size-full max-w-[100px] items-center sm:max-w-[120px];
}
.total-balance-label {
  @apply text-sm font-medium text-gray-600;
}
.total-balance-amount {
  @apply text-2xl lg:text-3xl flex-1 font-semibold text-gray-900;
}
